.container10{
    position:sticky;
}
.navbar-nav{
    padding-left:70% !important;
    color:black;
    
}
.nav-link {
    color:black !important;
}
.facebooklogo{
    
    width:2vw;
    height:2vw;
}
.facebooklogo:hover{
    width:2.3vw;
    height:2.3vw;
    opacity: 1;
}